<?xml version='1.0' encoding='utf-8'?>
<widget id="osu.ets.whitebordr" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Whiteboardr</name>
    <description>        The whiteboarding app of the future.    </description>
    <author email="ets-dev@library.oregonstate.edu" href="http://github.com/whiteboardr">        Whiteboardr    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="loadUrlTimeoutValue" value="700000" />
    <hook src="scripts/build.sh" type="before_prepare" />
    <universal-links>
        <host name="https://ef9uy.app.goo.gl/" scheme="https" />
        <host name="whiteboardr-bbf6a.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <engine name="android" spec="~6.1.2" />
    <plugin name="cordova-plugin-browsertab" spec="~0.2.0" />
    <plugin name="cordova-plugin-buildinfo" spec="~1.1.0" />
    <plugin name="cordova-plugin-customurlscheme" spec="~4.2.0">
        <variable name="URL_SCHEME" value="osu.ets.whitebordr" />
        <variable name="ANDROID_SCHEME" value=" " />
        <variable name="ANDROID_HOST" value=" " />
        <variable name="ANDROID_PATHPREFIX" value="/" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
</widget>
